@page "/"

<PageTitle>Inicio</PageTitle>

<Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">Welcome!</JumbotronTitle>
    <JumbotronSubtitle>
   Sistema administrativo Club de futbol Lobos Iguala </JumbotronSubtitle>
    <Divider></Divider>
    <center>
        

        <img src="lobos.jpg" class="img-fluid" height="400" width="400" alt="...">
    </center>
   
</Jumbotron>





<body style="background-color:#f3f3f3;">
</body>

